* body {
  background-color: rgb(131, 158, 167);
}

@media screen and (min-width: 400px) {
  body {
    background-color: rgb(170, 165, 167);
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }
}
